@import "../variables";
@import "../mixins/flex";

.btn-secondary {
    color: white;
    padding: $XsSize3 $XsSize;
    font-family: "Regular";
    background: linear-gradient(rgb(67, 70, 84) 0%, rgb(67, 70, 84) 50%, rgb(67, 70, 84) 100%) rgb(67, 70, 84);
    border-radius: $XlSize ;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 0.75px 1px 0px inset, rgba(0, 0, 0, 0.6) 0px -2px 8px 0px inset, rgba(0, 0, 0, 0.6) 0px 3px 12px 0px;
    transition: 0.5s all ease;

    &:hover {
        background: linear-gradient(rgba(67, 70, 84, 0.445) 0%, rgba(67, 70, 84, 0.377) 50%, rgb(67, 70, 84) 100%) rgba(67, 70, 84, 0.527);
    }
}