@import "../variables";
@import "../mixins/flex";

.navbar-container {
    width: 100%;
    padding: 20px;
    background-color: $PrimaryColor;
    @include flex-row(nowrap, space-between, center);
    font-family: "Regular";

    .title {
        color: $TextColor;
        font-size: $XlSize2;
        font-weight: $BaseFontSemiBoldWeight;
    }

    ul {
        @include flex-row(nowrap, center, center);
        gap: $XlSize;
        color: $TextColor;

        @media(max-width:768px) {
            display: none;
        }

        li {
            transition: $Transition;
            border-radius: $XsSize;

            &:hover {
                background-color: $TextColor;
                color: $PrimaryColor;
                padding-inline: $XsSize3;
            }
        }
    }

    .mobile-nav{
        @media (min-width:768px) {
                display: none;
        }
    }
}