@import "../variables";
@import "../mixins/flex";

.aboutme {
    height: 100vh;
    position: relative;
    z-index: 999;
    font-family: "Regular";
    background-color: $BgColor;

    

    .title {
        color: white;
        font-size: $XlSize3;
        font-weight: $BaseFontWeightBold ;
        @media(max-width:768px){
            text-align: center;
        }
    }

    .categories {
        .p-button {
            background: $BgColor !important;
            width: 120px !important;
            height: 120px !important;
            border: none !important;
            box-shadow: 10px 10px 10px #0000006b;
            transition: 0.3s all linear;
            color: $MainTextColor !important;

            @media(max-width:768px) {
                width: 80px !important;
                height: 80px !important;
            }

            &:hover {
                box-shadow: 10px 10px 10px #000000;

            }

            .p-button-icon {
                font-size: 30px;
            }
        }

        .p-speeddial-item {
            &:first-child {
                left: 130px !important;
            }

            &:nth-child(2) {
                top: -130px !important;
            }

            &:nth-child(3) {
                left: -130px !important;

            }
        }
    }
}